﻿
@{
    ViewBag.Title = "Add";
}

<div class="content">
    <form class="FormBlank" method="post" action="https://localhost:44333/Home/Store">
        <h1>Add Article</h1>
        <div class="form-group">
            <label for="name">Name of article</label>
            <input type="text" class="form-control" id="name" placeholder="White fang" name="name" pattern="[A-Z][a-z]{1,20}">
        </div>
        <div class="form-group">
            <label for="Surname">Author`s surname</label>
            <input type="text" class="form-control" id="Surname" placeholder="London" name="surname" pattern="[A-Z][a-z]{1,15}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Describe article</label>
            <textarea class="form-control" name="txt" id="txtArea" rows="3" placeholder="some info..."></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

