﻿
@{
    ViewBag.Title = "Guest";
}

<div class="content">
    <form class="form" method="post" action="~/Guest/AddComment">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="name" aria-describedby="emailHelp" placeholder="Enter your name" pattern="[A-Z][a-z]{1,10}">
        </div>
        <div class="form-group">
            <label for="Comment">Comment</label>
            <textarea type="text" class="form-control" id="Comment" name="comment" placeholder="Some comment..."></textarea>
        </div>
        <button type="submit" id="addComment"class="btn btn-primary">Leave comment</button>
        </form>



   
    @foreach (var a in ViewBag.Comments)
        {
          <div class="comment">
            <h5>@a.User</h5>
            <p>@a.Date</p>
            <p>
               @a.Body
            </p>
          </div>
        }
  
</div>